.categories {
  background-color: #fbfbfb;
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px 20px;
    h5 {
      font-size: 15px;
      font-weight: 700;
      line-height: 10px;
    }
  }
}
