.slider{
    margin-top: 46px;
    h2{
        font-size: 18px;
        font-weight: 700;
    }
    h5{
        font-size: 15px;
        font-weight: 400;
        margin: 20px 0;
        .price{
            font-weight: 700;
            color: #46A358;
        }
    }
}