.card-comp {
  cursor: pointer;
  border-top: 1px solid transparent;
  transition: 0.3s ease-in-out;

  &:hover {
    border-color: #46A358;
  }

  .card-image-wrapper {
    height: 320px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s ease-in-out;
    img {
      width: 80%;
      height: 60%;

      @media (max-width: 640px) {
        height: 100%;
      }
    }

    .hover-icons {
      display: none;
      position: absolute;
      bottom: 16px;
      gap: 20px;
      flex-direction: row;
      transition: 0.3s ease-in-out;

      .style_icons {
        background: white;
        border-radius: 4px;
        padding: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          background: #46A358;
          color: white;
        }
      }
    }

    &:hover .hover-icons {
      display: flex;
    }
  }

  h3 {
    margin-top: 4px;

    &.price {
      color: #46A358;
      font-weight: bold;
      font-size: 18px;
    }

    &.discount {
      font-weight: 300;
      color: #a5a5a5;
      text-decoration: line-through;
    }
  }

  .price-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
  }
}
