.products{
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        .list{
            display: flex;
            align-items: center;
            gap: 40px;
            .item{
                font-size: 15px;
                font-weight: 400;
                transition: 0.3s ease-in-out;
                width:fit-content;
                 display: inline-block;
                &:hover{
                    color: var(--color-green);
                    font-weight: 700;
                    border-bottom: 1px solid var(--color-green);
                    padding-bottom: 5px;
                    margin-bottom: -5px;
                }
            }
        }
    }
}