.register {
  p {
    font-size: 13px;
    margin: 40px 0 15px 0;
    font-weight: 400;
  }
  a {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-green);
    text-align: end;
  }
  h6 {
    font-size: 13px;
    margin: 46px 0 27px 0;
    font-weight: 400;
    text-align: center;
  }
  .btn-google {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    padding: 13px 0;
    border: 1px solid #eaeaea;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    cursor: pointer;
    .icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
  .btn {
    width: 100%;
    padding: 16px 0;
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }

    .animate-spin {
      animation: spin 1s linear infinite;
    }
  }
}
